[submodule "_plugins"]
	path = _plugins
	url = https://github.com/TravelTripperWeb/cms-jekyll-plugins
[submodule "_ttio_templates/no-bedrock-cp"]
	path = _ttio_templates/no-bedrock-cp
	url = https://github.com/TravelTripperWeb/_ttio_templates-no-bedrock-cp.git
