*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
*.gem
*.sublime-project
*.sublime-workspace
.editorconfig
.DS_Store
_asset_bundler_cache
Gemfile.lock
npm-debug.log*
_site/
.sass-cache/
.jekyll-metadata
bower_components/
node_modules/
.bundle/
vendor/
old_media.json
feed.xml
media.json
models.json
sitemap.json
