---
title_localized:
  en: Key West Hotel | Accessibility Statement
label_localized:
  en: accessibility
layout_localized:
  en:
permalink_localized:
  en: /accessibility/
meta_description_localized:
  en: ''
meta_keywords_localized:
  en: ''
published_localized:
  en: true
---
{% include tmp-head.html %}

<body class="specials" rt3-special-rates="special">
  {% include tmp-nav.html %}
  <!-- Inner Carousel Carousel  -->
  <div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->

    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-image:url(/assets/images/6632/original/special-banner.jpg)"> </div>
    </div>
    <!-- /.Inner Carousel Carousel -->

    <!-- Inner wrapper -->
    <div id="inner-wrapper">
      <div class="container">
        <div class="row">
          <div>
            <div class="col-lg-12 col-md-12 col-sm-12 page-content single-col">
              {% regionblock accessibility_header, type:header %}
                <h1>Accessibility Statement</h1>
              {% endregionblock %}
              <br>
              <div class="special-list special-article">
               
                <div class="special-description">
                  
                  {% regionblock accessibility_content2, type:text %}
                  <p>The Marker Waterfront Resort Key West (sometimes hereinafter referred to as “Hotel”, “we”, “us”, or “our”) is dedicated to providing exceptional service to all of our guests, including individuals with disabilities.  With respect to the Hotel’s websites, we strive to provide digital content that is accessible to all users.  
                </p>
                <p>We base our website accessibility standards on the Web Content Accessibility Guidelines 2.0, level A + AA success criteria.  In addition, we actively work to maintain, assess and improve the usability and accessibility of our websites, including through training of our personnel, engagement of experts and regular testing of our digital accessibility.    
                </p>
                <p>If you experience any difficulty accessing or navigating our websites or have any accessibility-related questions or comments, please contact us at (305) 501-5193 or <a href="mailto:reservations@southernmostresorts.com">reservations@southernmostresorts.com</a>.  To enable us to assist you, please make sure to provide us with your contact information and a brief description of the problem you encountered.
                </p>

                <h3>Public Space Accessibility</h3>
                <li>Accessible public entrance</li>
                <li>Accessible route from the accessible public entrance to the registration area</li>
                <li>Accessible route from the accessible public entrance to the accessible guestrooms</li>
                <li>Accessible route from the hotel’s accessible public entrance to at least one restaurant - Restaurants are not an accessible amenity</li>
                <li>Accessible route from the hotel’s accessible public entrance to the exercise facilities.</li> 
               <li>Accessible route from the hotel’s accessible public entrance to the swimming pool</li>
                <li>Accessible route from the hotel’s accessible public entrance to the business center</li>
                <li>Accessible public restrooms</li>
                <li>Accessible parking spaces for cars in the self-parking facility</li>
                <li>Accessible swimming pool</li>
                <li>The hotel's guest room televisions have closed captioning or closed captioning decoders are provided</li>

               {% endregionblock %}
                </div>
                <nav>
                  
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.Inner wrapper -->

    {% include tmp-footer.html %}