---
title_localized:
  en: Key West Hotel | COVID-19
label_localized:
  en: covid-19
layout_localized:
  en:
permalink_localized:
  en: /covid-19/
meta_description_localized:
  en: 'Enjoy a luxurious break at Florida Keys with The Marker Key West. Book your luxury stay at The Marker Key West only on the Official hotel website!'
meta_keywords_localized:
  en: ''
published_localized:
  en: true
---
{% include tmp-head.html %}

<body class="specials" rt3-special-rates="special">
  {% include tmp-nav.html %}
  <!-- Inner Carousel Carousel  -->
  <div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-image:url('/assets/images/6632/original/special-banner.jpg')"> </div>
    </div>
    <!-- /.Inner Carousel Carousel -->

    <!-- Inner wrapper -->
    <div id="inner-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 page-content single-col static-content">
            {% regionblock covid_heading, type:header %}
            <h1 class="h1">HEALTH & SAFETY COMMUNICATIONS</h1>
            {% endregionblock %}

            {% regionblock covid_content, type:text %}
            <p class="h2">Website Statement</p>
            <p><strong>Updated May 8, 2020 5:30pm</strong></p>
            <p><strong>Your Wellbeing is Our Top Priority</strong></p>
            <p>Ensuring a safe, clean and inviting environment is the core of our commitment to providing the highest level of hospitality.</p>
            <p>In response to COVID-19, we have initiated and are maintaining industry-leading and scientifically driven elevated cleanliness standards to safeguard the wellbeing of our guests and colleagues. Our strengthened safety and sanitizing measures
              incorporate the latest guidance from the world&rsquo;s leading health authorities, including the Centers for Disease Control and Prevention (CDC) and World Health Organization (WHO), and apply to all guest rooms, public and back-of-house areas.</p>
            <p>The comprehensive strategies we are employing are rooted in industry experience, based on the latest scientific guidance, and utilize hospital-grade cleaners and best practices designed to prevent the spread of viruses. These strategies will be
              updated regularly to reflect the most current science and technology available.</p>
            <p>At a glance, here is what we are doing to keep you safe and comfortable:</p>
            <ul>
              <li><strong>Temperature Monitoring.</strong> Thermal scanners have been placed at all guest, visitor and associate entrances.</li>
              <li><strong>Keeping our Distance.</strong> We have implemented social distancing measures in all public, event and back-of-house areas of the hotel.</li>
              <li><strong>Sanitizer Stations Throughout.</strong> Touchless hand sanitizer stations have been placed throughout all public, event and back-of-house areas of the hotel.</li>
              <li><strong>Enhanced and More Frequent Cleaning.</strong> EPA-rated hospital-grade disinfectants and electrostatic sprayers will be standard protocol and used in guest rooms and to clean public, event and back-of-house areas every four hours.</li>
              <li><strong>Personal Protection Equipment Required.</strong> All hotel associates are required to wear face masks and gloves. Guests are encouraged to do so as well.</li>
              <li><strong>In-room Safety Kits Provided.</strong> Upon arrival, each room will include a sealed safety kit containing a face mask, hand sanitizer and gloves.</li>
              <li><strong>Your Room is Your Room.</strong> If your stay is less than 5 days, no hotel personnel will enter your room during your stay unless you request for us to do so.</li>
              <li><strong>Training and Education.</strong> We provide regular training to our hotel associates about the latest safety and cleanliness guidance.</li>
            </ul>
            <p>We look forward to welcoming you soon. Thank you for your continued trust and loyalty. Be Well. Stay Well.</p>
            <p class="h2">Protocols</p>
            <p>Keeping you safe begins with keeping our valued hotel associates safe. Our dedicated COVID-19 task force has developed a multi-pronged approach to health and wellbeing, which stresses cleanliness and hygiene standards and regular education and
              training as well as enhanced cleanliness and hygiene standards.</p>
            <p>Our associates are equipped to handle confirmed or suspected COVID-19 cases among guests and colleagues. They also understand how to identify potential health risks and are committed to working together to strictly follow all safety and cleaning
              protocols, which are detailed below.</p>
            <p><span style="text-decoration: underline;"><strong>Safety Protocols</strong></span></p>
            <ul>
              <li>Thermal scanners have been placed at all guest, visitor and associate entrances to conduct non-invasive temperature checks. Anyone displaying a temperature over 100.4&deg;F will be taken to a private area for a secondary temporal temperature
                screening. Employees or guests confirmed to have a temperature over 100.4&deg;F will not be allowed entry to the property and will be directed towards appropriate medical care.</li>
              <li>All staff are to stay home if they are sick or exhibiting symptoms of illness. They will be sent home if symptoms develop during their shifts.</li>
              <li>Proper hand washing and other safety protocol trainings will be conducted and maintained. Guests are also encouraged to adhere to regular 30-second handwashing/sanitizing guidelines.</li>
              <li>Front desks will be equipped with plexiglass sneeze guards, and all staff (e.g. front desk, concierge, valets, etc.) will be required to wear personal protection equipment (PPE), including masks and gloves.</li>
              <li>Social distance markers will be placed in all public areas (where applicable) to encourage social distancing awareness.</li>
              <li>COVID-19 policies and protocols will be provided to each guest upon check-in.</li>
              <li>Elevator capacity will be limited, as appropriate, to maintain social distances in controlled spaces.</li>
              <li>Should a guest or staff member be diagnosed with COVID-19 after leaving the hotel, all guests and staff that were present at the same time will be notified. If a guest or staff member is diagnosed while staying with us, proper isolation
                protocols will be followed pursuant to CDC and WHO guidelines, and guests and staff will be notified.</li>
            </ul>
            <p><span style="text-decoration: underline;"><strong>Cleaning Protocols</strong></span></p>
            <ul>
              <li><strong>Guest Rooms</strong>
                <ul>
                  <li>EPA-rated hospital-grade disinfectants will be used to clean each guest room, with special attention paid to all high-touch surfaces (e.g. door handles, light switches, etc.). A minimum 10-minute cleaning period protocol is applied to each
                    item so that full disinfection occurs.</li>
                  <li>Your Room is Your Room. If your stay is less than 5 days, no hotel personnel will enter your room during your stay unless you request for us to do so. Rather, replenished amenities &ndash; including towels and linens&ndash; will be
                    provided upon request.</li>
                  <li>Upon arrival, each room will include a sealed safety kit containing a face mask, hand sanitizer and gloves.</li>
                  <li>Guests are encouraged to use mobile keys where available. In the event of key card usage, all guest keys will be disinfected via UVC light treatment upon check out.</li>
                  <li>For the laundry and cleaning of bed linens and towels, sealed laundry bags will be utilized during transportation to and from the cleaning facility.</li>
                </ul>
              </li>
              <li><strong>Public Areas</strong>
                <ul>
                  <li>Every four hours, we conduct electrostatic spraying of EPA-rated hospital-grade disinfectants throughout all public areas, including:
                    <ul>
                      <li>Elevator cabs</li>
                      <li>Public restrooms</li>
                      <li>Pool areas</li>
                      <li>Fitness center</li>
                    </ul>
                  </li>
                  <li>Every four hours, all high-touch public area surfaces such as handrails and door handles will be wiped down with EPA-rated hospital-grade disinfectants.</li>
                  <li>Touchless hand sanitizer stations have been placed in key areas throughout the hotel including hotel entrance, front desk, meeting room landings and elevator landings.</li>
                  <li>Once per hour, pool furniture will be cleaned using EPA-rated hospital-grade disinfectants and covered with chaise lounge covers or other clear indication that cleaning has been completed.</li>
                </ul>
              </li>
              <li><strong>Restaurants &amp; Bars</strong>
                <ul>
                  <li>Prior to opening each day, we employ electrostatic spraying with EPA-rated hospital-grade disinfectants on all areas.</li>
                  <li>Touchless hand sanitizer stations will be placed at entry points.</li>
                  <li>Tables and chairs are spaced a minimum of 6 feet apart to allow for safe distances between guests.</li>
                  <li>We will provide no-touch table service adhering to safe social distancing guidelines. No buffets will be available.</li>
                  <li>Digital menus will be provided via QR code. Disposable menus will also be made available.</li>
                  <li>All shared items and food and beverage areas will be sanitized after each use.</li>
                  <li>No-touch in-room dining will be served with sustainable disposable wares.</li>
                </ul>
              </li>
              <li><strong>Meetings &amp; Events</strong>
                <ul>
                  <li>Prior to commencement of any meeting or event, electrostatic spraying of EPA-rated hospital-grade disinfectants will be utilized on all areas.</li>
                  <li>Attendance will be limited to 35 square feet per attendee to create necessary social distancing space.</li>
                  <li>No-touch table service will be implemented to adhere to safe social distancing guidelines. Buffet service will not be available.</li>
                  <li>Coffee and break areas will be attended by a server responsible for serving guests to limit cross contamination.</li>
                  <li>Disposable packaging will be used for all meals and breaks whenever possible.</li>
                  <li>Tables and chairs are spaced a minimum of 6 feet apart to allow for safe distances between guests.</li>
                  <li>Hand sanitizer stations will be placed at all entry points in meeting spaces.</li>
                  <li>Safety guidelines will be posted at all meeting entryways.</li>
                  <li>Breaks will be staggered to minimize group sizes.</li>
                  <li>Safety protocol reviews with meeting and event planners will be conducted prior to any event to ensure adherence to our rigorous policies.</li>
                </ul>
              </li>
            </ul>
            {% endregionblock %}
          </div>
        </div>
      </div>
    </div>
    <!-- /.Inner wrapper -->

    {% include tmp-footer.html %}
