---
title_localized:
  en: Key West Hotel Deals & Offers | Special Offers at The Marker
label_localized:
  en: Specials
layout_localized:
  en:
permalink_localized:
  en: /save-when-you-book-in-advance/
meta_description_localized:
  en: ''
meta_keywords_localized:
  en: ''
published_localized:
  en: true
---
{% include tmp-head.html %}

<body class="specials" rt3-special-rates="special">
  {% include tmp-nav.html %}
  <!-- Inner Carousel Carousel  -->
  <div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-image:url('/assets/images/6632/original/special-banner.jpg')"> </div>
    </div>
  <!-- /.Inner Carousel Carousel -->

  <!-- Inner wrapper -->
  <div id="inner-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 page-content single-col">
          {% regionblock save_when_you_book_in_advance_header, type:header %}
          <h1>Save when you book in advance</h1>
          {% endregionblock %}
          <br>
          <div class="special-list special-article">
            <div class="thumbnail">
              {% regionblock save_when_you_book_in_advance_image, type:image %}
              <img src="/assets/images/6632/original/special-banner.jpg" alt="Special Offer Image">
              {% endregionblock %}
            </div>
            <div class="special-description">
              {% regionblock save_when_you_book_in_advance_content1, type:text %}
              <p>
                <strong>Early bird gets the worm – and the discount. Save up to 20% when reserving your stay in advance.</strong>
              </p>
              {% endregionblock %}
              {% regionblock save_when_you_book_in_advance_content2, type:text %}
              <p>The Early Booking Promotion Rate requires all room and tax as a deposit at the time of booking to secure the room. Reservation is non-refundable. Modification and cancellation of this booking are not included with this rate. Promotion must be
                booked at least 30 days prior to arrival. Restrictions and black-out dates might apply.</p>
              {% endregionblock %}
              {% regionblock save_when_you_book_in_advance_button, type:text %}
                <a href="https://themarkerkeywest.reztrip.com/en/special_offer?rate_code=EBDIR" class="button" target="_blank">Book Now</a>
              {% endregionblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Inner wrapper -->

  {% include tmp-footer.html %}
