.temp-banner {
  width: 100%;
  min-height: 70px;
  padding: 0;
//  padding: 0 65px;
//  @media (max-width: 767px) {
//    padding: 0;
//  }
//  &.no-padd {
//    padding: 0;
//  }
  @media(min-width: 1181px) {
    margin-top: 40px;
  }

  .inner-banner {
    text-align: center;
    background: $temp-banner-background;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    text-transform: uppercase;
  	color: $temp-banner-text;
    p {
      font-size: 16px;
      line-height: 1.3125em;
      letter-spacing: .3px;
      color: $temp-banner-text;
      margin-bottom: 0;
      padding-bottom: 0;

  	}
    .column {
      padding: 0 36px;
      border-right: 1px solid $temp-banner-text;
      strong {
        font-family: $cp-brand-font;
        font-weight: 700;
        font-size: 30px;
        line-height: 1.3125em;
        letter-spacing: .58px;
      }
      &:nth-child(3) {
        border: none;
      }
    }

    .last-column {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 36px;
      strong {
        font-family: $cp-brand-font;
        font-weight: 700;
      }

      span {
        letter-spacing: 1px;
      }
    }

    a.ttweb-booking-button {
//      color: black;
//      padding-bottom: 9px;
      background: $temp-banner-button-background;
      margin: 10px 20px;
      color: $temp-banner-buttoner-text;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 1.2px;
      line-height: 1em;
      height: 2.5em;
      padding-top: .75em;
      padding-bottom: .75em;
    }

    @media (max-width: 768px) {
      p {
        font-size: 14px;
        line-height: 1.3125em;
        letter-spacing: .3px;
    	}
      .column {
        padding: 0 18px;
        strong {
          font-size: 18px;
        }
      }
    }
    @media(max-width: 480px) {
      p {
        font-size: 10px;
        line-height: 1.3125em;
        letter-spacing: 0.2px;
    	}
      .column {
        padding: 0 9px;
        strong {
          font-size: 16px;
        }
      }
      .last-column {
        flex-direction: column;
        padding-top: .5em;
        a.ttweb-booking-button {
          font-size: 16px;
        }
      }
    }
  }
}
