<div class="mobile-nav">
  <a href="tel:855-485-9291" title="Call">
    <i class="fa fa-phone" aria-hidden="true"></i>
    <strong>Call</strong>
  </a>
  <a class="specials" href="/special/" title="Specials">
    <div class="stars">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
    <strong>Offers</strong>
  </a>
  <a href="/accommodations/" title="Rooms">
    <i class="fa fa-bed" aria-hidden="true"></i>
    <strong>Rooms</strong>
  </a>
  <a href="#" title="Book" show-booking-widget>
    <i class="fa fa-calendar" aria-hidden="true"></i>
    <strong>Book</strong>
  </a>
</div>
