<div class="mobile-nav">
  <a href="/our-hotel/about-the-marker/" title="About">
    <i class="fa fa-building" aria-hidden="true"></i>
    <strong>About</strong>
  </a>
  <a href="/accommodations/" title="Rooms">
    <i class="fa fa-bed" aria-hidden="true"></i>
    <strong>Rooms</strong>
  </a>
  <a class="specials" href="/special/" title="Specials">
    <div class="stars">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
    <strong>Specials</strong>
  </a>
  <a href="tel:305-501-5193" title="Call">
    <i class="fa fa-phone" aria-hidden="true"></i>
    <strong>Call</strong>
  </a>
</div>
