<!--Offer Promo Tile here-->
<section class="offer-promo-tile unlock">
  <h3>Unlock Our Hidden Offers</h3><a href="javascript:void(0);" data-toggle="modal" data-target="#offer-promo-popup" title="Unlock Offer" class="button"><i class="fa fa-unlock-alt" aria-hidden="true"></i> UNLOCK</a>
</section>
<div class="promo-code-reminder">
    <div class="reminder-text">
        <h4>Don't forget to redeem <span>#LOVETHEMARKER</span> for exclusive deals </h4>
        <i><sup>*</sup>Promo code valid only once.</i>
    </div>
    <a href="https://themarkerkeywest.reztrip.com/ext/promoRate?property=728&mode=b&pm=true&sr=288488&vr=3&accessCode=#LOVETHEMARKER" title="Book Now" class="button">Book Now</a>
</div>

<!--Offer Promo popup here-->
<div id="offer-promo-popup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <a type="button" class="close" id="mclose" data-dismiss="modal">&times;</a>
                <div class="signup">
                    <h3>Subscribe Now to Unlock<br>Our Best Hidden Offers!</h3>
                    <form action="https://submit.jotform.me/submit/73343807982465/" method="post" name="form_73343807982465" id="73343807982465" accept-charset="utf-8"> 
                        <input type="hidden" name="formID" value="73343807982465">
                        <div class="input-group">
                            <input type="email" class="form-control" d="input_3" name="q3_email" value="" placeholder="Your Email Address" required="" aria-lable="Email offer">
                            <span class="input-group-btn"><button id="input_2" class="btn btn-lg btn-primary button-home button-blue" type="submit">Submit</button></span>
                        </div>
                        <span class="agree_to_sub"><input id="input_4_0" name="q4_input4[]" value="By submitting your email you agree to subscribe to Insider Offers direct from the Hotel" type="checkbox" checked>By submitting your email you agree to subscribe to Insider Offers direct from the Hotel</span>
                    </form>
                </div>
                <div class="message">
                    <h5>YAY!!! You are all set to access Insider Deals!</h5>
                    <h3 class="offer-title">Click below or use Offer-code <span>#LOVETHEMARKER</span> + unlock 3 FREE bonus rewards.</h3>
                    <a href="https://themarkerkeywest.reztrip.com/ext/promoRate?property=728&mode=b&pm=true&sr=288488&vr=3&accessCode=#LOVETHEMARKER" title="Book Now" class="btn btn-lg btn-primary button-home button-blue">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
