{% capture page_url %}
  {{ page.url }}
{% endcapture %}
{% if page_url contains "save-the-children" or page_url contains "fury" %}
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <nav id="footer-menu">
          <ul>
            <li> <a href="https://highgate.com/careers" target="_blank" >Careers</a> </li>
            <li> <a href="{{ 'news' | permalink }}">News/Press</a> </li>
            <li> <a href="">Best Rate Guarantee</a> </li>
            <li> <a href="{{ 'hotel-policy' | permalink }}">Hotel Policy</a> </li>
            <li> <a href="{{ 'privacy' | permalink }}">Privacy Policy</a> </li>
            <li> <a href="{{ 'site-security' | permalink }}">Site Security</a> </li>
            <li> <a href="{{ 'sitemap' | permalink }}">Site Map</a> </li>
            {% comment %}
            <li> <a href="/save-the-children/">Charities</a> </li>
            {% endcomment %}
            <li> <a href="/accessibility/">Accessibility Statement</a> </li>
          </ul>
        </nav>
        <div class="h-logo"><a href="https://highgate.com" target="_blank" title="Highgate"><img src ="/assets/images/highgate-logo.png" alt ="High Gate"></a></div>
      </div>
      <div class ="col-sm-4 award">

        <!-- <a href="https://www.cntraveler.com/rca/2016" target="_blank">-->

        <img src ="https://cdn.traveltripper.io/site-assets/202_388_9271/media/2017-11-13-145434/conde-net-logo.png" title ="Conde Nast Traveler Readers Choice Award"  alt ="Conde Nast Traveler Readers Choice Award" class="img-responsive">

        <!-- </a>-->
        <div class="m-t-16"> <small class="copyright"> 200 William Street, Key West, Florida 33040 Phone:  (305) 501-5193<br>
          All Rights Reserved ©{{site.time |date:'%Y'}} </small> </div>
      </div>
      <div class="col-sm-4 col-sm-push">
        <article id="newsletter">
          <h4><a href="{{ 'signup' | permalink }}#newsletter-form" class="email-signup">Email Offers Sign-Up</span></a></h4>
        </article>
        <div class="sociallinks">
          <ul class="socials">
            <li><a class="facebook" href="https://www.facebook.com/TheMarkerResort" target="_blank" >Facebook</a></li>
            <li><a class="twitter" href="https://www.twitter.com/TheMarkerResort" target="_blank">Twitter</a></li>
            <li><a class="instagram" href="https://www.instagram.com/themarkerresort" target="_blank"  >Instagram</a></li>
            <li><a class="gplus" href="https://plus.google.com/u/0/111033740280620125237/posts" target="_blank" >Google+</a></li>
            <li><a class="tripadvisor" href="https://www.tripadvisor.com/Hotel_Review-g34345-d6853077-Reviews-The_Marker_Waterfront_Resort-Key_West_Florida_Keys_Florida.html" target="_blank" >tripadvisor</a></li>
            <li><a class="blog" href="https://www.themarkerkeywest.com/blog/">blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
{% else %}

{% comment %}
Remove Save the children from all Highgate sites
<!-- save the children section start-->
<section class="save-the-child-section">
  <div class="save-the-child-container">
    <div class="logo-container"> <img src="/assets/images/save-the-child-logo.png" alt="Save The Children" /> </div>
    <div class="description-container">
      <div class="description-center">
        <h2>DONATE TODAY & MAKE A DIFFERENCE</h2>
        <p>100% of your donation benefits Save The Children. Thank you for your support.</p>
      </div>
    </div>
    <div class="button-container"> <a href="/save-the-children/" class="button-common">MORE INFO</a> </div>
    <div style="clear:both;"></div>
  </div>
</section>
<!-- save the children section end-->
{% endcomment %}

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <nav id="footer-menu">
          <ul>
            <li> <a href="{{ 'location' | permalink }}">Location</a> </li>
            <li> <a href="{{ 'news' | permalink }}">Press Room</a> </li>
            <li> <a href="https://highgate.com/careers" target="_blank" >Careers</a> </li>
            <li> <a href="{{ 'privacy' | permalink }}">Privacy Policy</a> </li>
            <li> <a href="{{ 'terms-of-use' | permalink }}">Terms of Use</a> </li>
            <li> <a href="{{ 'sitemap' | permalink }}">Site Map</a> </li>
            {% comment %}
            <li> <a href="/save-the-children/">Charities</a> </li>
            {% endcomment %}
            <li> <a href="/accessibility/">Accessibility Statement</a> </li>
          </ul>
        </nav>
        <div class="h-logo"><a href="https://highgate.com" target="_blank" title="Highgate"><img src ="/assets/images/highgate-logo.png" alt ="High Gate"></a></div>
      </div>
      <div class ="col-sm-4 award">

        <!-- <a href="https://www.cntraveler.com/rca/2016" target="_blank">-->

        <img src ="https://cdn.traveltripper.io/site-assets/202_388_9271/media/2017-11-13-145434/conde-net-logo.png" title ="Conde Nast Traveler Readers Choice Award"  alt ="Conde Nast Traveler Readers Choice Award" class="img-responsive">
        <!-- I'm the right file -->
        <!-- </a>-->
        <div class="m-t-16"> <small class="copyright"> 200 William Street, Key West, Florida 33040, Phone:  (305) 501-5193<br>
          All Rights Reserved © {{site.time |date:'%Y'}} </small> </div>
      </div>
      <div class="col-sm-4 col-sm-push">
        <article id="newsletter">
          <h4><a href="{{ 'signup' | permalink }}#newsletter-form" class="email-signup">Email Offers Sign-Up</span></a></h4>
        </article>
        <div class="sociallinks">
          <ul class="socials">
            <li><a class="facebook" href="https://www.facebook.com/TheMarkerResort" target="_blank" >Facebook</a></li>
            <li><a class="twitter" href="https://www.twitter.com/TheMarkerResort" target="_blank">Twitter</a></li>
            <li><a class="instagram" href="https://www.instagram.com/themarkerresort" target="_blank"  >Instagram</a></li>
            <li><a class="gplus" href="https://plus.google.com/u/0/111033740280620125237/posts" target="_blank" >Google+</a></li>
            <li><a class="tripadvisor" href="https://www.tripadvisor.com/Hotel_Review-g34345-d6853077-Reviews-The_Marker_Waterfront_Resort_Key_West-Key_West_Florida_Keys_Florida.html" target="_blank" >tripadvisor</a></li>
            <li><a class="blog" href="https://www.themarkerkeywest.com/blog/">blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endif %}

<!-- /.footer -->
<a href="#" class="cd-top">Top</a>

<!-- Google Tag Manager (noscript) -->
<noscript>
<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NP28H86"
height="0" width="0" style="display:none;visibility:hidden" title="Google Tag Manager"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Bootstrap core JavaScript    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script>
function getIp(data){
   sessionStorage.ip_add =  data.ip;
}
</script>
<script src="https://api.ipify.org?format=jsonp&callback=getIp"></script>
<script type="text/javascript" src="/js/main.min.js"></script>
<script src="/js/rez-gallery.js"></script>
<script type="text/javascript" src="/js/utm-tracking.js"></script>
<!-- Only load Leaflet on specfic pages -->

{% if page.url contains 'location' %}
 {% assign map = true %}
{% endif %}

{% if map == true %}
 <!-- Leaflet -->
 <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>

 <!-- Leaflet Settings -->
 <script>
   // Create map object, assign it to the 'map' div, give initial latitude, longitude and zoom values.
   var map = L.map('map-canvas', {scrollWheelZoom:false}).setView([24.5609239,-81.80140140000003], 17);

   // Add base map tiles from Open Street Map.
   L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}.png', {
  attribution:'&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution/">CARTO</a>',
  maxZoom: 20,
  minZoom: 0,
}).addTo(map);

   // Create a custom marker icon.
   var hotelIcon = L.icon({
     iconUrl: '/assets/images/leaflet/pointer.png',
     iconSize: [33, 32],
   });

   // Create a default marker object, pass custom icon as an option, add it to the map.
   var marker = L.marker([24.5609239,-81.80140140000003], {icon:hotelIcon}).addTo(map);

   // Bind a popup to the default marker.
   marker.bindPopup('The Marker Waterfront Resort<br>200 William Street, <br>Key West, Florida 33040, <br>Phone: (305) 501-5193');
 </script>

{% endif %}
<script src="/js/js.cookie.js"></script>

<script>window.cookieConsentConfig = {location: false}</script>
<script src="https://plugins.traveltripper.io/v2/rt3api.min.js"></script>
<script src="https://plugins.traveltripper.io/v2/jquery.ttweb.js"></script>
<script>
  TTWeb.Config.configure({
    portalId: 'themarkerkeywest',
    hotelId: 'KEYMRK',
    defaultTimezone: 'America/New_York', // timezone of site
    ipAddress: sessionStorage.ip_add,
    defaultCurrency: 'USD',
    //rootPath: 'https://rt3api-prd-ase.ttaws.com' // include this line only if site is on asian server i.e elite and cristalhospitality
  });

  $("[show-booking-widget]").bookingWidget({
      // showRateCalendar: true,
       showOfferCode: true
  });
  // remove target attr of booking widget form to open it in same window.
  $(".ttweb-booking-widget form").removeAttr('target');

  setTimeout(function() {
    /* set focus to book now button wehn user close the booking widget by mouse click
       as by plugin based booking widget's close event, focus is shifting at page link at bottom
    */
    $(".ttweb-booking-widget__header__close").on("click", function (){
        $('html, body').scrollTop(0);
        $("[show-booking-widget]").focus();

    });
    // if booking widget is closed using ener key then set focus to next anchor tag for screen reader
    $(".ttweb-booking-widget").on("keydown", ".ttweb-booking-widget__header__close, .ttweb-booking-widget__footer__powered-by__close-widget", function (e){
        var keycode = e.which || e.keyCode;
        if(keycode == 13) {
          setTimeout(function() {
            $('header').nextAll().find('a:visible').first().focus();
          } ,110);
        }
    });
  },1000);



</script>

<script type="text/javascript">
  $(document).ready(function(){
    // get rt3 offers in gallery
     $('#exterior-gallery, #gust-gallery, #lobby-gallery, #pool-gallery, #cero-gallery, #events-gallery').rezGallery({
                hotelID : 'KEYMRK',
                portalID : 'themarkerkeywes',
                galleryselector : 'li',
                buttonClass :'btn-offer-gallery',
                pageLink : true,
                description : true,
                offerdetailPage : '/special/special-more/'
     });
  });




</script>

<!-- Kipsu Script -->
<script src="https://d1emxpt2ul0h01.cloudfront.net/widget/js/kipsu-chat-highgate.min.js" env="secure" widget="1585/97b3"></script>

</body>
</html>
