.offer-promo-tile {
    margin: 0px;
    text-align: center;
    background: rgba(41, 194, 222, 0.3);
    padding: 20px 0 15px;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 2;
    color: #fff;
}

.offer-promo-tile h3,
.offer-promo-tile a {
    display: inline-block;
    margin: 0px 15px;
}

.offer-promo-tile h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
}

.offer-promo-tile a {
    font-size: 18px;
}

.offer-promo-tile a i {
    padding-right: 5px;
}

#offer-promo-popup .modal-dialog {
    top: 48%;
    transform: translateY(-48%) !important;
}

#offer-promo-popup .modal-dialog .modal-content {
    border-radius: 0px;
    background: #fff;
}

#offer-promo-popup .modal-dialog .modal-body {
    padding: 40px;
    border: 0px;
    text-align: center;
}

#offer-promo-popup .modal-dialog .modal-body .close {
    position: absolute;
    right: 17px;
    top: 10px;
}

#offer-promo-popup .modal-dialog .modal-body h3 {
    /*font-family: $heading-font;*/
    font-size: 20px;
    text-shadow: none;
    color: #000;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 20px;
}

#offer-promo-popup .modal-dialog .modal-body .signup .input-group {
    margin-bottom: 20px;
}

#offer-promo-popup .modal-dialog .modal-body .signup .input-group .form-control {
    font-family: "GothamHTF-Light";
    border-color: #0bb7e4;
    border-radius: 0px;
    height: 48px;
    box-shadow: none;
    color: #232525;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12px;
}

#offer-promo-popup .modal-dialog .modal-body .signup .input-group .form-control::placeholder {
    text-transform: uppercase;
    font-size: 12px;
}

#offer-promo-popup .modal-dialog .modal-body .signup .input-group .button-blue,
#offer-promo-popup .modal-dialog .modal-body .message .button-blue {
    padding: 11px 20px;
    text-transform: uppercase;
    background: #0bb7e4;
    color: #fff !important;
    border-color: #0bb7e4;
}

#offer-promo-popup .modal-dialog .modal-body .signup .input-group .button-blue:hover {
    opacity: 0.8;
}

#offer-promo-popup .modal-dialog .modal-body .message .button-blue:hover {
    opacity: 0.8;
}

#offer-promo-popup .modal-dialog .modal-body .message h3 span {
    color: #ed1c25;
}

#offer-promo-popup .modal-dialog .modal-body .message h5 {
    margin-bottom: 20px;
}

.offer-promo-tile .button, .promo-code-reminder .button {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 0;
    color: #fff;
    font: 15px/33px 'Muli Regular';
    height: 36px;
    margin: 12px 0 20px 0;
    padding: 0 10px;
    text-shadow: none;
    text-transform: uppercase;
    display: inline-block;
}

#offer-promo-popup .agree_to_sub input {
    margin: 4px 5px 0;
}
.promo-code-reminder .reminder-text h4 {
    font-family: 'Muli Light';
}

.promo-code-reminder {
    margin: 0px auto 2px;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    background: rgba(41, 194, 222, 0.3);
    color: #fff;
}

.promo-code-reminder .reminder-text h4 span {
    font-size: 20px;
    font-weight: bold;
}

