

{% assign attraction = page %}
{% assign model = page %}
{% include tmp-head.html %}
  <body class="ourhotel">
 {% include tmp-nav.html %}

<div id="main"></div>
    <!-- Inner Carousel Carousel  -->
<!-- Inner Carousel Carousel  -->
<div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Indicators -->

  <div class="carousel-inner" role="listbox">
    <div class="item active" role="option">
      <img class="objectfit" src="{{attraction.image.url}}" alt="Attractions around the Marker Keywest" tabindex="0" />
    </div>
  </div>
  <!-- /.Inner Carousel Carousel -->
</div>
<!-- /.Inner Carousel Carousel -->

 <!-- Inner wrapper -->
<div id="inner-wrapper">
 <div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-4">

    <div class="sidebar-nav">
      <div class="navbar  navbar-default " role="navigation">
        <div class="navbar-header">
         <h1 class="h4" data-toggle="collapse" data-target=".sidebar-navbar-collapse" tabindex="0"><p>Attractions</p></h1>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
          {% assign attractionsList = site.data._models.attractions | sort : 'sort_order' %}
            {% for attraction in attractionsList %}
             <li>
             <a href="../{{attraction.url_friendly_name}}" class="button">{{attraction.title}}</a>
             </li>
         {% endfor %}
         </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>



    </div>
    <div class="col-lg-9 col-md-8 col-sm-8 page-content">

     <h2 class="h1" tabindex="0">{{attraction.title}}</h2>
      <p tabindex="0">{{attraction.long_description}}</p>
   </div>

  </div>
 </div>
</div>
<!-- /.Inner wrapper -->


<!-- /.upcoming events section -->

    {% include tmp-footer.html %}
