{% include tmp-head.html %}
<body class="privacy">
{% include tmp-nav.html %}

<!-- Inner Carousel Carousel  -->
<div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel" role="listbox">
  <!-- Indicators -->
  {% region innerbanner %} <a class="left carousel-control" href="#innerCarousel" data-slide="prev" title="Previous"> <span class="left" aria-hidden="true"></span> </a> <a class="right carousel-control" href="#innerCarousel" data-slide="next" title="Next"> <span class="right" aria-hidden="true"></span> </a> </div>
</div>
<!-- /.Inner Carousel Carousel -->

<!-- Inner wrapper -->
<div id="inner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 page-content single-col"> {% region contenteditor %} </div>
    </div>
  </div>
</div>
<!-- /.Inner wrapper -->

<!-- /.upcoming events section -->

{% include tmp-footer.html %}
