{% include tmp-head.html %}
<body class="Key-west-webcam">
{% include tmp-nav.html %}

<div id="main"></div>

<!-- Inner Carousel Carousel  -->
<div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Indicators -->

  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url(/assets/images/6792/original/webcam-banner.jpg)" role="option"> </div>
  </div>
</div>
<!-- /.Inner Carousel Carousel -->

<!-- Inner wrapper -->
<div id="inner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="sidebar-nav">
          <div class="navbar  navbar-default " role="navigation">
            <div class="navbar-header">
              <h4 data-toggle="collapse" data-target=".sidebar-navbar-collapse">Gallery</h4>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav">
                <li> <a href="{{ 'gallery/view-all-images' | permalink }}"  >View All Images</a> </li>
                <li> <a href="{{ 'gallery/key-west-webcam' | permalink }}" class="active">Key West Webcam</a> </li>
                <li> <a href="{{ 'gallery/marker-resort-video' | permalink }}" >Marker Resort Video</a> </li>
              </ul>
            </div>
            <!--/.nav-collapse -->
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-8 page-content">
        <h1>See Yourself At The Marker</h1>
        <h2>View Our Key West Webcam Below</h2>
        <p><a id="View" name="View"></a>
          <!-- <iframe frameborder="0" height="500px" scrolling="no" src="https://www.floridakeyswebcams.tv/themarker/camframe/" width="100%"></iframe>-->
          <!-- <iframe frameborder="0" height="500px" scrolling="no" src="https://162.251.177.172/" width="100%"></iframe>-->
        <div class="video-container">
<iframe width="640" height="360" src="https://player1.bw.streamreflector.com?q=CIDBW0004&w=640&h=360&c=1&i=i&chid=bw" frameBorder="0" scrolling="no" seamless="seamless"></iframe>
        </div>
        </p>
      </div>
    </div>
    <section>
      <div class="container-fluid no-padding home-specials-wrap">
        <div class="container">
          <h2 class="heading-large">Featured Rooms</h2>
          <div id="home-carousel-2">
            <div class="item">
              <div class="home-specials-item"> <img src="/assets/images/king.jpg" alt="Classic Balcony King"/>
                <div class="car-content">
                  <h3>The Marker Classic Balcony King</h3>
                  <p>Immerse yourself in Key West. Discover an array of luxurious features including soft white furnishings that contrast </p>
                </div>
                <a href="/accommodations/the-marker-classic-rooms/" target="_blank" class="button-common2 btn-top">View Special</a> </div>
            </div>
            <div class="item">
              <div class="home-specials-item"> <img src="/assets/images/poll-banner.jpg" alt="Pool and Garden View Balcony King"/>
                <div class="car-content">
                  <h3>Pool and Garden View Balcony King</h3>
                  <p>The 400 square foot pool and garden view rooms offer plush comfort and soothing views. Marked by welcoming features </p>
                </div>
                <a href="/accommodations/pool-garden-rooms/" target="_blank" class="button-common2 btn-top">View Special</a> </div>
            </div>
            <div class="item">
              <div class="home-specials-item"> <img src="/assets/images/keywest.jpg" alt="Partial Key West Harbor View Balcony King"/>
                <div class="car-content">
                  <h3>Partial Key West Harbor View Balcony King</h3>
                  <p>This 400 square foot luxuriously appointed guest room, features elevated ceilings, white furnishings, touches of dark </p>
                </div>
                <a href="/accommodations/key-west-harbor-rooms/" target="_blank" class="button-common2 btn-top">View Special</a> </div>
            </div>
          </div>
          <div class="btn-holder-with-padding"><a href="/accommodations/" class="button-common2 btn-blue">View all Rooms<i class="fa fa-play"></i></a></div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid no-padding home-specials-wrap two">
        <div class="container">
          <h2 class="heading-large">Featured Offers</h2>
          <div id="room-carousel-1">
            <div class="item">
              <div class="home-specials-item"> <img src="/assets/images/111.jpg" alt="Stay Longer And Save More"/>
                <div class="car-content">
                  <h3>Stay Longer And Save More</h3>
                  <p>Stay longer and save move on your next stay at the newest luxury hotel in the famous Key West Historic Seaport and Marina.</p>
                </div>
                <a href="/special/special-more/#STAY5" target="_blank" class="button-common2 btn-top">View Special</a> </div>
            </div>
            <div class="item">
              <div class="home-specials-item"> <img src="/assets/images/222.jpg" alt="Last Chance For Best Deal - Non Refundable"/>
                <div class="car-content">
                  <h3>Last Chance For Best Deal - Non Refundable</h3>
                  <p>Wait no longer and book your Key West vacation at The Marker Resort!</p>
                </div>
                <a href="/special/special-more/#LMDIR" target="_blank" class="button-common2 btn-top">View Special</a> </div>
            </div>
            <div class="item">
              <div class="home-specials-item"> <img src="/assets/images/111.jpg" alt="Lounge and Dine"/>
                <div class="car-content">
                  <h3>Lounge and Dine</h3>
                  <p>Select your choice of Pool and Garden View Balcony room with either a king or 2 queen size beds</p>
                </div>
                <a href="/special/special-more/#LOUNGE" target="_blank" class="button-common2 btn-top">View Special</a> </div>
            </div>
            <div class="item">
              <div class="home-specials-item"> <img src="/assets/images/111.jpg" alt="Mark Your Love"/>
                <div class="car-content">
                  <h3>Mark Your Love</h3>
                  <p>Celebrate romance at the newest luxury hotel in the famous Key West Historic Seaport and enjoy</p>
                </div>
                <a href="/special/special-more/#ROM" target="_blank" class="button-common2 btn-top">View Special</a> </div>
            </div>
          </div>
          <div class="btn-holder-with-padding"><a href="/special/" class="button-common2 btn-blue">View all Specials<i class="fa fa-play"></i></a></div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- /.Inner wrapper -->

<!-- /.upcoming events section -->

{% include tmp-footer.html %}
