{% include tmp-head.html %}
<body class="location">
{% include tmp-nav.html %} 

<!-- Inner Carousel Carousel  -->
<div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel"> 
  <!-- Indicators -->
  
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url(/assets/images/6022/original/location-banner.jpg)"> </div>
  </div>
</div>
<!-- /.Inner Carousel Carousel --> 

<!-- save the girl child setion start-->
<section class="save-the-child-section inner">
  <div class="save-the-child-container">
    <div class="logo-container col-sm-4" > <img src="/assets/images/save-the-child-logo.png" alt="Save The Children"/> </div>
    <div class="description-container col-sm-8" >
      <div class="description-center">
        <h1 style="color: #0081a2; font-size: 27px; line-height: 34px; text-transform: uppercase;">DONATE TODAY & MAKE A DIFFERENCE</h1>
        <p>Highgate and its portfolio of properties proudly support Save the Children, an organization that helps children in 120 countries, including the United States. Save the Children invests in childhood by giving children a healthy start, the opportunity to learn and protection from harm. By supporting this cause, Highgate helps to transform children’s lives now, in order to change the course of their future – and ours.</p>
      </div>
      <div class="button-container" > <a href="https://goo.gl/OJexpZ" target="_blank" class="button-common">DONATE NOW </a> </div>
    </div>
    <div style="clear:both;"></div>
  </div>
</section>
<!-- save the girl child setion end--> 

<!-- /.upcoming events section --> 

{% include tmp-footer.html %} 
